body {
	background-color: #000000;
	background-image:url(background.png);
}

h1 {
	color: #000099;
}

h3 {
	color: #cccccc;
	margin-top: 5px;
	margin-bottom: 5px;
}

table {
	background-color: #000000;
	filter: alpha(opacity=90)-moz-opacity:0.90;
	opacity: 0.90;
}

th {
	color: #cccccc;
	font-weight: bold;
	text-align: left;
}

td {
	color: #cccccc;
	padding: 2px 4px 2px 4px;
}

.emph {
	color: #dd0000;
	font-weight: bold;
}
